<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Produtos</title>
    <link rel="stylesheet"  th:href="@{css/style.css}">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Produtos</h1>
        <form th:action="@{/cadastro}" method="post" th:object="${produto}">

            <label for="nome">Nome</label>
            <input type="text" id="nome" placeholder="Digite o nome:" th:field="*{nome}" required>

            
            <label for="preco">Preço</label>
            <input type="text" id="preco" placeholder="Digite o preço:" th:field="*{preco}" required>

            <button type="submit">cadastrar</button>

        </form>
        <a th:href="@{/}">Voltar para Lista de Produtos</a>
    </div>
    
</body>
</html>